<h1 class="text-center m-3 display-1">DICTS</h1>
<div class="text-center"><button (click)="clickDicts()" class="btn btn-primary m-3">Get Dicts</button></div>
<div class="card m-5" *ngIf="dictsSuccess === true">
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-light">
      <tr class="text-center">
        <th>Index</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
        <th>I</th>
        <th>J</th>
        <th>K</th>
        <th>L</th>
        <th>M</th>
        <th>N</th>
        <th>Ñ</th>
        <th>O</th>
        <th>P</th>
        <th>Q</th>
        <th>R</th>
        <th>S</th>
        <th>T</th>
        <th>U</th>
        <th>V</th>
        <th>W</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let dicts of dictsArray; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ countsArray[i][0] }}</td>
        <td>{{ countsArray[i][1] }}</td>
        <td>{{ countsArray[i][2] }}</td>
        <td>{{ countsArray[i][3] }}</td>
        <td>{{ countsArray[i][4] }}</td>
        <td>{{ countsArray[i][5] }}</td>
        <td>{{ countsArray[i][6] }}</td>
        <td>{{ countsArray[i][7] }}</td>
        <td>{{ countsArray[i][8] }}</td>
        <td>{{ countsArray[i][9] }}</td>
        <td>{{ countsArray[i][10] }}</td>
        <td>{{ countsArray[i][11] }}</td>
        <td>{{ countsArray[i][12] }}</td>
        <td>{{ countsArray[i][13] }}</td>
        <td>{{ countsArray[i][14] }}</td>
        <td>{{ countsArray[i][15] }}</td>
        <td>{{ countsArray[i][16] }}</td>
        <td>{{ countsArray[i][17] }}</td>
        <td>{{ countsArray[i][18] }}</td>
        <td>{{ countsArray[i][19] }}</td>
        <td>{{ countsArray[i][20] }}</td>
        <td>{{ countsArray[i][21] }}</td>
        <td>{{ countsArray[i][22] }}</td>
        <td>{{ countsArray[i][23] }}</td>
        <td>{{ countsArray[i][24] }}</td>
        <td>{{ countsArray[i][25] }}</td>
        <td>{{ countsArray[i][26] }}</td>
        <td>{{ sums[i] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 *ngIf="dictsSuccess === false" class="text-center m-3">Try again...</h2>
