<h1 class="text-center m-3 display-1">NUMBERS</h1>
<div class="text-center"><button (click)="clickNumbers()" class="btn btn-primary m-3"> Get Numbers</button></div>
<div class="card m-3" *ngIf="numbersSucces === true">
  <table class="table mb-3 table-sm">
    <thead class="thead-light">
      <tr class="text-center">
        <th>Index</th>
        <th>Number</th>
        <th>Quantity</th>
        <th>First Position</th>
        <th>Last Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let number of uniqueNumbersArray; index as i" class="text-center"
        [class.bg-success]="repetitions[i] >= 2" [class.bg-warning]="repetitions[i] === 1">
        <td>{{ i }}</td>
        <td>{{ number }}</td>
        <td>{{ repetitions[i] }}</td>
        <td>{{ firstIndexs[i] }}</td>
        <td>{{ lastIndexs[i] }}</td>
      </tr>
    </tbody>
  </table>
  <textarea class="m-3 md-textarea" name="nums" cols="10" rows="10">{{sortedNumbers}}</textarea>
</div>

<h2 *ngIf="numbersSucces === false" class="text-center m-3">Try again...</h2>
